.feed {
    flex: 0.4;
    border-right: 1px solid white;
    min-width: fit-content;
}

.feed_header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border: 1px solid var(--united-background);
    padding: 15px 20px;
}

.feed_header > h1 {
    font-size: 20px;
    font-weight: 800;
}

.title > h1 {
    padding: 50px;
}

.search_input {
    display: flex;
    align-items: center;
    background-color: var(--united-background);
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
}

.search_input > input {
    border: none;
    background-color: var(--united-background);
}